[2017-02-22 15:31] cswank opened #1 "Vendor dependencies"
This is a cool project and I'd like to be able to use it, but I have another version of gocui installed that doesn't jive with this project.  When I try to build:

go get github.com/gchaincl/httplab
# github.com/gchaincl/httplab
../../gchaincl/httplab/main.go:36: undefined: gocui.Output256
../../gchaincl/httplab/main.go:36: too many arguments in call to gocui.NewGui
../../gchaincl/httplab/main.go:

[2017-02-22 15:52] gchaincl commented on #1
That would make a lot of sense, thanks for reporting the issue.
I'll fix it ASAP.

[2017-02-22 18:23] #1 closed

[2017-02-22 18:24] gchaincl commented on #1
@cswank can you confirm if now works for you?

[2017-02-22 20:32] cswank commented on #1
Confirmed, it's working now!  Thanks.

[2017-03-01 00:17] ahmetb opened #2 "Add yourself to termbox-go examples"
https://github.com/nsf/termbox-go#examples

[2017-03-01 00:52] AxelTheGerman opened #3 "Configuration file"
Would be super neat if the tool could either pick up the .httplab config file from the current directory or via command line argument (similar to the port configuration).
That would allow to have different saved requests for different projects and also to version control the saved requests.

[2017-03-01 00:53] kphatak opened #4 "Support for HTTPS"
it would be really helpful for fast development and debugging of an existing API.

[2017-03-01 01:41] gchaincl commented on #3
Sounds like a great idea!, I'll think about the implementation, thanks!

[2017-03-01 01:45] gchaincl commented on #2
Cool!
https://github.com/nsf/termbox-go/pull/151

[2017-03-01 01:47] gchaincl commented on #4
Definitively, should we accept both, http and https at the same time or do it selectively?

[2017-03-01 06:58] qianguozheng opened #5 "can not run ?"
Just git clone the repository and `go run main.go`, but it show below message

[code]

[2017-03-01 07:10] SikhNerd opened #6 "Buffer Request Pane"
Would be nice to be able to scroll through previous requests, or support having multiple requests on-screen at once.

Useful when debugging something that sends multiple different payloads - can just point them all at httplab and understand the flow.

[2017-03-01 10:06] karianna commented on #5
I get:

[code]

[2017-03-01 10:32] #2 closed

[2017-03-01 10:51] gchaincl commented on #5
@qianguozheng if you want to use go build, you should run:
[code]

[2017-03-01 10:52] gchaincl commented on #5
@karianna did you get the tool via `go get` or you just clone the repo, also, notice that httplab vendor its dependencies, but that should work with >=go1.6 which go version are you running?

[2017-03-01 10:54] gchaincl commented on #6
having an scroll seems great, but not sure about the UI, having multiple requests on-screen at once may be overkill, I'm thinking on a popup which displays them.

What do you mean with multiple different payloads?

[2017-03-01 12:51] #3 closed

[2017-03-01 12:53] gchaincl commented on #3
Now httplab look for a `.httplab` file on the `pwd`, if not found it falls back to `$HOME/.httplab`. You can also specify a custom file using the `-config` flag.

[2017-03-01 14:44] ip1981 commented on #4
If you mean HTTP over TLS, this looks out of scope.

[2017-03-01 15:47] gchaincl opened #8 "Display key bindings on help"
When invoked with `-h` flag, it should display the key bindings

[2017-03-01 16:45] SikhNerd commented on #6
For example an android library that sends 5-6 different http calls. I want to send them all to httplab and inspect them.

[2017-03-01 16:59] SikhNerd commented on #8
https://golang.org/pkg/flag/#pkg-variables

Create a custom `var Usage` With PrintDefaults() followed by whatever text you want.

[2017-03-01 17:01] gchaincl commented on #6
how would you correlate them? by souece host perhaps? or you dont need to

On Wed, Mar 1, 2017, 13:45 SikhNerd <notifications@github.com> wrote:

[2017-03-01 17:02] ip1981 commented on #4
I mean if this tool is about inspecting HTTP, then transport does not matter.

[2017-03-01 17:03] SikhNerd commented on #6
Don't particularly need to, because I'd review everything that was in httplab, or I'd only be sending the things I cared about, so I'd just page through all of them.

[2017-03-01 18:43] gchaincl commented on #6
@SikhNerd mind to take a look at request-scroll [branch](https://github.com/gchaincl/httplab/tree/request-scroll), <kbd>PgUp</kbd> and <kbd>PgDown</kbd> will go back in time to inspect previous request

[2017-03-01 20:10] SikhNerd commented on #6
@gchaincl Tested and works as advertised, I really like how it behaves when I've scrolled to a particular request and new requests are still coming in 👍

[2017-03-01 20:12] gchaincl commented on #6
Cool!, I'll merge it

[2017-03-01 20:12] #6 closed

[2017-03-01 20:16] SikhNerd commented on #4
Agreed with @ip1981 I'm not seeing how this tool would support https in a meaningful way without a huge increase in scope.

[2017-03-01 22:15] juliosueiras opened #11 "[Archlinux] default 644 does not contain executable bit"
**Issue:**
Due to the 644 mode in PKGBUILD, the httplab will install as a ordinary file, instead of a executable

**Fix:**
change 644 to 755

[2017-03-01 22:57] gchaincl opened #12 "Integrate with TravisCI"

[2017-03-02 00:54] gchaincl commented on #11
Thanks, it's already fixed here: https://github.com/gchaincl/httplab/commit/31517462ca30423a222282f75f2c50bf26115d3a

[2017-03-02 00:54] #11 closed

[2017-03-02 00:56] #12 closed

[2017-03-02 01:08] #8 closed

[2017-03-02 01:11] gchaincl commented on #5
I'm closing this, if still fails, feel free to re-open the issue.

[2017-03-02 01:11] #5 closed

[2017-03-02 03:32] qianguozheng commented on #5
Thanks

[2017-03-02 11:47] gchaincl commented on #4
@kphatak, @ip and @SikhNerd makes me realizes that HTTPS is out of the scope of the project for now.
I've create instructions on how to use a stunnel tu proxy HTTPS traffic here: https://github.com/gchaincl/httplab/tree/master/contrib/stunnel
Hope it works!

[2017-03-02 11:47] #4 closed

[2017-03-02 11:57] gchaincl opened #13 "Update ASCII animation"
Lot of UI improvements has happened and it would be nice to have them on the ASCII animation

[2017-03-02 20:12] karianna commented on #5
I cloned the repo (`go get` didn't seem to do anything).  I'm using go 1.8 on Mac OS X.  I've tried `go run main.go dump.go response.go split.go ui.go` but that fails with the same error.

[2017-03-02 21:34] gchaincl commented on #5
`go get` should have retrieved the code inside `$GOPATH/src/github.com/gchaincl/httplab` and also compile it and save the binary in `$GOPATH/bin/httplab`. Did you check there, also remember that there are binaries for darwin, check the releases

[2017-03-02 21:42] karianna commented on #5
Hmm, for some reason that command isn't retrieving anything (and no `bin` dir) gets created.

My `echo $GOPATH` returns nothing, am I being dense and need to set that to `.`?

[2017-03-02 21:46] gchaincl commented on #5
try to `GOPATH=~/go go get -v github.com/gchaincl/httplab` and paste the output

[2017-03-02 21:53] karianna commented on #5
No output - I'm guessing I've got my go weirdly setup

[2017-03-03 04:52] j-manu commented on #3
Can you please provide some example config files? If httplab supports non text responses (images for example) config for that will be great.

This is a great tool. Thank you :)

[2017-03-03 11:42] gchaincl commented on #3
@j-manu I'll upload some example, about the non-text responses, it's a wonderful idea, I'm not sure how to display that on the UI yet, any idea?

[2017-03-03 11:44] j-manu commented on #3
Full path to file should be sufficient

[2017-03-03 11:45] gchaincl opened #14 "Support non text responses"
Only plain text responses are supported now, non text like binaries needs to be supported, this would probably involve changes on the UI as well.

[2017-03-03 13:59] jacksgt commented on #14
The simplest solution would probably to implement a hotkey/shortcut/mode, which interprets the string specified in the "Body" Window as a path to a file (which then gets sent to the client, instead of the string).

E.g.:

<kbd>Ctrl+f</kbd> (or <kbd>Ctrl+o</kbd>)

[code]

-> Sends Content of `~/Documents/test.txt` (in binary) to the client. (Headers can still be set manually)

[2017-03-03 15:46] gchaincl commented on #14
That should probably work

[2017-03-03 20:40] AxelTheGerman commented on #3
not sure about the images (great idea though), but regarding sample config you could just create a couple of responses in the tool and take a look at the `.httplab` file.
The main idea for being able to specify the file location was not to manually write responses in that file, but just to be able to swap it out depending on the context (project or whatever) and version control it

[2017-03-04 09:28] mehdy opened #16 "different routes"
if it provides a feature that I could define different routes (and dynamic routes) it'd be a great tool for mocking API.

then it would need a way to export the setups and definitions to be able to reuse again.

[2017-03-04 17:59] gchaincl commented on #16
hey, thanks for the feedback, I've been also thinking on this, but for now it's outside of the scope of the tool

[2017-03-05 17:56] gchaincl commented on #14
@jacksgt I'm working on this here: https://github.com/gchaincl/httplab/tree/respond-with-file, mind to take a look?

[2017-03-05 19:44] jacksgt commented on #14
@gchaincl Maybe I'm doing something wrong, but it doesn't (yet?) work for me:
[code]
$ httplab # select "/tmp/test.txt" in "Body (File)" -> Ctrl-a
In `httplab` I select "Body (File)" (Ctrl-b), set the string to `/tmp/test.txt` and applied with Ctrl-a.

[2017-03-05 21:56] gchaincl commented on #14
Sorry I didn't explain how it works, make sure one of your responses in `.httplab` file contains a "File": "" section like this example:
[code]

Then, open httplab, Ctrl+L, load the response and hit Ctrl+b to choose between input  or file body.

[2017-03-05 21:57] gchaincl commented on #14
This is still a work in progress, so it hasn't been fully implemented yet

[2017-03-05 22:50] gchaincl commented on #14
Implemented here: https://github.com/gchaincl/httplab/commit/157eba5bc31e4f7ed49e135d68d7261c0f5334de

[2017-03-05 22:50] #14 closed

[2017-03-06 12:18] jacksgt commented on #14
Awesome, just one more thing:

It would be very nice to also support the home directory with `~`.
Currently when I enter `~/test.txt` (in the Ctrl-o popup), I get: `open ~/test.txt: no such file or directory`

Maybe even support for all environment variables is possible? (`$TMP`, `$USER`, `$PATH`, `$LANGUAGE` ...)

[2017-03-06 12:48] gchaincl commented on #14
that would be awesome, would you mind to open a new issue?

[2017-03-06 12:49] michaelrommel opened #17 "Body (Input) is not updated"
Hi,

maybe I am missing something very obvious, but for me the Editor field for "Body (Input)" is not working.

Changes, which I make to the Status, Delay or Header Fields take effect.
When I load a predefined Reponse body from the .httplab file, the changes take effect.
But when I enter a Response Body by hand in the editor field, the body returned does not reflect the change (regardless, whether

[2017-03-06 12:52] gchaincl commented on #17
I'll try to reproduce and verify what's wrong, for now, would mind to elaborate a list of steps to reproduce it, or provide an ascii animation?
Thanks for the feedback!

[2017-03-06 12:53] gchaincl commented on #17
Yep, you're right, looks like a bug introduced after the Body Field.

[2017-03-06 13:02] #17 closed

[2017-03-06 13:02] gchaincl commented on #17
@michaelrommel it should be fixed now, please verify and confirm

[2017-03-06 13:20] jacksgt opened #18 "Support Environment Variables in Body File"
As an enhancement of #14, another nice-to-have feature would be the support of environment variables for the string specifying the response file.

This should open up many convenient use cases.

E.g. `~/test.txt` expands to `/home/jack/test.txt`

But also: `$HOME`, `$TMP`, `$USER`, `$PATH`, `$LANGUAGE` ...

[2017-03-06 13:20] jacksgt commented on #14
Sure! #18

[2017-03-06 14:29] #18 closed

[2017-03-06 14:36] michaelrommel commented on #17
Hi, yes, I can confirm that this works now! Thanks for the quick fix!

[2017-03-06 15:07] jacksgt commented on #18
Wow, that was quick action! Amazing!

[2017-03-06 15:55] gchaincl commented on #17
Cool, thanks for the issue!

[2017-03-06 15:58] gchaincl commented on #18
Cool, thanks for the ideas, I've never though about it.
BTW: I saw you were working on https://github.com/asciimoo/wuzz/issues/72#issuecomment-284073151, it would be awesome to get your help on a debian package for httplab too :)

[2017-03-06 16:54] jacksgt commented on #18
@gchaincl I'll look into it, but since your project isn't a dependency mess, it shouldn't be too hard :-)
Although I can't give you an ETA yet.

[2017-03-06 17:16] gchaincl commented on #18
Ok, great to hear!, There's no hurries on this.

[2017-03-07 21:08] #13 closed

[2017-03-08 06:32] d-saravanan opened #21 "Execution steps for Windows 7"
Hi,

I have installed go on my Machine and then tried the go get command. The command completed without any response. Kindly let me know how can I run this app in Windows 7. I am new to Go, so detailed instructions or any link will be very helpful for me

Regards
Saravanan

[2017-03-08 07:14] gchaincl commented on #21
I've never ran Golang on Windows, but what I'd try is:
* https://nats.io/documentation/tutorials/go-install/ (windows section)
* `go get -v github.com/gchaincl/httplab`
* `httplab` or `cd %GOPATH%; httplab`

[2017-03-08 08:24] scakemyeranasshole opened #22 "rpi joy"
Will this project be able to bring raspberry pi joy?

[2017-03-08 08:49] gchaincl commented on #22
I don't think so, it's not on my priorities, but I'll be happy if somebody wants to do it.
Why would you like to run httplab on a Raspberry?

[2017-03-12 14:17] cemo opened #23 "homebrew formula"
It would be nice to be integrated into homebrew.

[2017-03-13 08:46] gchaincl commented on #23
yep, that would be great, (un)fortunately I don't have a Mac, but I'll tag this issue with `help wanted`.

[2017-03-15 08:09] gchaincl commented on #22
@scakemyeranasshole ?

[2017-03-15 08:09] #22 closed

[2017-03-15 08:10] gchaincl commented on #21
@d-saravanan any luck?

[2017-03-15 08:10] gchaincl commented on #16
I'm closing this for now

[2017-03-15 08:10] #16 closed

[2017-03-15 16:13] d-saravanan commented on #21
I tried this, but my bad, the httplab does not work for me

[2017-03-21 10:45] #21 closed

[2017-04-12 09:43] m1ome commented on #23
@gchaincl i am on this one, currently creating formula.

[2017-04-12 10:32] m1ome commented on #23
https://github.com/Homebrew/homebrew-core/pull/12351 waiting to PR to be merged.

[2017-04-12 12:22] gchaincl commented on #23
Thanks for doing this @m1ome

[2017-04-20 09:26] swordbeta opened #26 "Form POST hard to view"
The body of form POST requests is very hard to read due to there being no word wrapping and home/end buttons not working, see:

![screenshot from 2017-04-20 11-24-26](https://cloud.githubusercontent.com/assets/7511094/25223635/32a8b162-25bc-11e7-9aad-343acbcea2d2.png)

[2017-04-20 09:30] gchaincl commented on #26
I'm aware of that, but still not sure how to solve it, enabling word wrapping can lead to confusions as well, any suggestions?

[2017-04-20 09:33] gchaincl commented on #26
A work around to that would be to toggle the response builder <kbd>Ctrl+t</kbd>, that should give you a little extra space to read the body

[2017-04-21 07:46] swordbeta commented on #26
If you make it clear the body is being wrapped with like a colored dash, then it should be pretty good I think?

Another 'solution' would be if we could save the request body so we can open it in a dedicated editor.

[2017-04-21 14:54] gchaincl commented on #26
Saving the request into a file sounds like a great idea, I'll see what I
can get.

On Fri, Apr 21, 2017, 09:47 Michael van Tricht <notifications@github.com>
wrote:

[2017-04-23 22:23] #26 closed

[2017-05-03 13:14] gchaincl opened #29 "Make ui more compact"
Currently, the widgets (status, delay, headers, body and info bar) uses too much spacing between them.
The right stack (status code, delay, headers and body) can remove some spacing by overlapping them.
The info bar does not display relevant information and most of the time is empty, possibles solutions are either a) remove the border (`Frame = false`) so that we can use less vertical space or b)

[2017-05-03 13:42] gchaincl opened #31 "Fix header and body editor behavior"
Both editors move the cursor down when the key arrow down key is pressed, even when there's no more text on the buffer, current behaviour should do nothing when end of buffer is reached

[2017-05-03 15:17] gchaincl opened #32 "Add mouse support"
Widgets should get focus when they receive click event.

[2017-05-04 09:17] #31 closed

[2017-05-04 09:29] #29 closed

[2017-05-04 10:17] gchaincl opened #35 "Document the API using Godoc"
At some point, HTTPLab should be able to be used as a library, so that you can build your own frontends. To do so, we need to start documenting it properly.

[2017-05-11 07:10] #32 closed

[2017-06-26 12:57] spemberton opened #37 ""Save response as" not working"
I tried to do "Save response as", and got the message "open /home/steven/.httplab: permission denied".

I tried making a directory .httplab (complained that it was a directory), and later a text file (complained permission denied).

I tried saving using a relative file name, and a full file name, and nothing was saved.

[2017-06-26 12:58] spemberton opened #38 "Can't read wide results"
The data sent with a POST was a single very long line.

I could only read the beginning of the line; there seems to be no way to wrap the output received.

[2017-06-26 13:04] spemberton opened #39 "CORS "Preflight" support"
I was trying to POST data from a form, but it was sending a CORS preflight request first.
I could handle this case by adding
 Access-Control-Allow-Origin: *
 Access-Control-Allow-Methods: GET, POST, PUT
 Access-Control-Allow-Headers: content-type
to the returned headers, and then at least the POST data was submitted. But then I had no control over the response to the POST.

[2017-06-26 13:17] gchaincl commented on #37
@spemberton are you sure `.httplab` hasn't been created before with other permissions?

[2017-06-26 13:20] gchaincl commented on #38
This has been discussed before in #26, I honestly haven't been able to come up with a nice solution.
There's currently 2 workarounds, 1) use <kbd>Ctrl+t</kbd> to toggle the responses column, so that you will have more space on the request inspection window, and 2) you can try to save the request into a file using <kbd>Ctrl + f</kbd>

[2017-06-26 13:22] gchaincl commented on #39
Any suggestion about how to implement this?, would you enable CORS using a flag?, if so, would you log the CORS request as well?, I'd love to hear from you so that we can build the right solution.

[2017-06-27 08:54] spemberton commented on #39
One possibility would be to have two sets of headers that you can switch between, one for preflight, and one for normal. I don't think you need to do anything special except recognise a CORS preflight, and reply with the preflight headers. Your normal method of logging requests would handle the preflight just fine (and you can then use PageUp to see the preflight request).

Here is an example of a

[2017-06-27 08:59] spemberton commented on #38
My response body is *very* long. ctrl-t doesn't even start to address the problem :-)
As you will see, save to file doesn't work for me.
But can't you use a ctrl-key to toggle wrapping on and off, so that long lines at least become visible?

Very nice program, by the way. Exactly what I needed :-)

[2017-06-27 09:00] spemberton commented on #37
Absolutely sure.

[2017-06-27 09:02] gchaincl commented on #38
Toggle line wrap is something I definitely need to start working on. About saving #37 you need to save the request, not the response.

[2017-06-27 09:09] spemberton commented on #37
In another thread, you said "About saving #37 you need to save the request, not the response."
I don't see that option, and I see now you said to use ctrl-f, which is not offered. I'm using Ubuntu snap v0.2.0

[2017-06-27 09:14] gchaincl commented on #37
That makes sense, Request Saving it's been implemented in 0.3.0 https://github.com/gchaincl/httplab/blob/master/CHANGELOG.md#v030-dev, not released yet.

Please, try to install HTTPLab using `go get` to try `-dev` features.

[2017-06-27 10:06] #38 closed

[2017-06-28 06:53] gchaincl commented on #37
can u `ls -l .httplab` ?

[2017-06-28 08:38] spemberton commented on #37
steven@steven-XPS:~$ ls -l .httplab
-rw-rw-r-- 1 steven steven 534 Jun 27 11:02 .httplab
steven@steven-XPS:~$ cat .httplab
{
2	  "Responses": {
3	    "ok": {
4	      "Status": 200,
5	      "Delay": 0,
6	      "Body": "Hello, World",
7	      "Headers": {
8	        "X-Server": "XForms"
9	      }
10	    },
11	    "create": {
12	      "Status": 201,
13	      "Delay": 1000,
14	      "Body": "{\"created

[2017-06-28 08:41] gchaincl commented on #37
so `.httplab` file has been written, can you try to `mv .httplab .httplab.bkp` and try again?
Remember that `Save Response` used to save predefined responses.

[2017-06-28 08:49] spemberton commented on #37
I created .httplab to see if that would solve the problem. It didn't. With no .httplab, I get the same result.

[2017-06-28 08:53] gchaincl commented on #37
but try to instead of creating it, remove it and let httplab create it for you

[2017-06-28 08:57] spemberton commented on #37
I did. It didn't create it.

[2017-06-28 08:57] gchaincl commented on #37
what was the error message?

[2017-06-28 09:05] spemberton commented on #37
"open /home/steven/.httplab: permission denied". (See first message in this thread)

[2017-06-28 09:06] gchaincl commented on #37
ok, but who created the `.httplab` file you showed be above?

[2017-06-28 09:07] spemberton commented on #37
Me. I created it to see if it would make a difference. Same result.

[2017-06-28 09:08] gchaincl commented on #37
I can't reproduce it, I'm sorry

[2017-06-28 09:08] gchaincl commented on #37
It's an OS permission problem, which makes me think it escapes from HTTPLab scope.

[2017-06-28 10:10] spemberton commented on #37
I don't understand why you would try to read .httplab when trying to save the responses to a file.

[2017-06-28 10:11] gchaincl commented on #37
.httplab file holds a list of predefined responses

[2017-07-14 15:26] mrsarm opened #41 "Can't load package: package github.com/gchaincl/httplab/cmd/httplab"
I'm not a Go developer, so only following the instruction in the README:

[code]

There is a remote location to install this package? Do I have to download the sources an place them into the `/usr/local/go/` folder to install it? Because `/usr/local/go` is not a user folder, It shouldn't be required to install an app like this, and isn't specified in the README instructions.

[2017-07-16 19:15] gchaincl commented on #41
not sure what's happening there, as a workaround, I'd suggest you to check the releases: https://github.com/gchaincl/httplab/releases/tag/v0.3.0 and download the binary

[2017-07-17 12:05] mrsarm commented on #41
Yes, downloading the binary version and executing it works!

Just to add a bit more information about my environment:

[code]

[2017-07-17 12:48] gchaincl commented on #41
everything seems right, can you `echo $GOPATH`

[2017-07-17 14:44] mrsarm commented on #41
mmm checking the installation guide at https://golang.org/doc/install#testing I see that I need to define the variable `$GOPATH`, sorry. Anyway, I got the same error. Then I placed the project in the correct folder (that isn't specified in the README): `$GOPATH/src/github.com/gchaincl/httplab`, and is compiled and installed Ok. The binary is placed at `$GOPATH/bin` folder.

I only suggest you to p

[2017-07-17 14:44] #41 closed

[2017-07-17 15:22] gchaincl commented on #41
Thank for your feedback @mrsarm link in the README is under `Binary distribution` section.

[2017-07-21 19:37] gwerbin commented on #23
It looks like the PR was rejected due to not having thorough enough post-install tests. Is there something better than `httplab -version`? It seems the Homebrew team is OK with that kind of test only if there isn't a more thorough alternative.

[2017-07-22 07:16] gchaincl commented on #23
@gwerbin can you give me more context? What kind of test are they expecting to have?
PS: Never used brew before?

[2017-07-24 12:44] gwerbin commented on #23
I'm not sure what they mean. You did the right thing by asking in that thread.

[2017-07-24 14:12] spemberton commented on #37
I can confirm that this problem is solved in the latest version v0.3.0-dev

[2017-07-24 14:14] #37 closed

[2017-07-27 10:20] gchaincl commented on #39
Closed by #40

[2017-07-27 10:20] #39 closed

[2017-07-27 10:38] spemberton opened #42 "Preserve CORS preflight requests and reponses"
Thanks for adding CORS preflight support!
It would be helpful if the preflight requests and responses could be preserved in the Request history so that you could page through them and see what happened.

[2017-09-23 14:40] vjeantet opened #44 "Location header not rendered to client"
Hello,

 When i set `Location: http://google.fr` in Headers panel, this header never write out to the client.
 the `:` seems to cause the issue, because when i set `Location: http//google.fr' it works

[2017-09-23 14:50] vjeantet commented on #44
this helps
[code]

[2017-09-24 10:02] gchaincl commented on #44
Good catch. it would be great if you could open a PR with that change.

[2017-09-24 10:03] gchaincl commented on #44
oh I didn't notice that you already did https://github.com/gchaincl/httplab/pull/45 😆

[2017-09-24 10:03] #44 closed

[2017-09-24 10:15] gchaincl commented on #42
As httplab uses a rs/cors for that, we don't have access to the response, I still need to figure out how to do it.

[2017-09-28 08:14] gchaincl opened #47 "Display request headers sorted"
As request headers are implemented as a map, the order of the keys are not guaranteed.
It would be nice to display all the request header sorted alphabetically, so that is easy to identify changes from one request to the other

[2017-09-28 10:23] j-haj commented on #47
It seems this is referring to to the `DumpRequest` function -- is that correct?

[2017-09-28 10:56] waleoyediran commented on #47
Yes. that is correct @j-haj
it dumps the headers in alphabetical order (by keys)

[2017-09-28 15:10] gchaincl opened #49 "Support for short flags"
Right now we just support long flag format (ie `-port`, `-config`, etc). It would be nice to provide the short version for: `port`, `config` and `version`.

https://github.com/alecthomas/kingpin looks like a great candidate for this, but any other should be fine.

[2017-09-28 15:49] j-haj commented on #47
Alright I think I have a patch that should add this. Test appear to be passing, will submit a PR later today.

[2017-09-28 15:49] gchaincl commented on #47
Excellent!!

On Sep 28, 2017 5:49 PM, "Jeff Hajewski" <notifications@github.com> wrote:

[2017-09-28 17:25] dnguy078 commented on #49
@gchaincl https://github.com/gchaincl/httplab/pull/50

[2017-09-28 18:06] sponomarev commented on #49
Hey, @gchaincl!

#51 Here is my solution 😄

[2017-09-29 09:15] gchaincl commented on #49
Cool, both looks really well, as I don't have a strong opinion on which library to use pflag, o kingpin, I'll add comment to both, the first one in resolve them, gets merged!

[2017-09-29 09:26] gchaincl opened #53 "Add some linting to CI"
It would be great to have a linter as part of the CI (travis)

[2017-09-29 09:33] gchaincl opened #54 "Text selecting support using mouse"
Unless you're using tmux (or some terminal multiplexer) copying text to the clipboard it's hard, this is mainly because you can't select text using the mouse.
This would be a nice to have feature.

[2017-09-29 10:55] niranjan92 commented on #53
i can take this up

[2017-09-29 11:14] gchaincl commented on #53
cool!!

[2017-09-29 15:57] dnguy078 commented on #54
I can take a stab at this

[2017-09-30 09:46] sponomarev commented on #53
@gchaincl Done #55. Should we fail the build in case of any issues?  There's a lot of them atm.

[2017-10-02 04:09] srini156 commented on #53
@gchaincl - Let me know if you need to clean up the existing lint failures. I would like to help. I would definitely want to enforce build failures in case of lint violations going forward 💯

[2017-10-02 09:21] gchaincl commented on #53
@srini156 yes I need help on that too!

[2017-10-02 09:23] #53 closed

[2017-10-02 09:41] gchaincl commented on #47
Closed by #48

[2017-10-02 09:41] #47 closed

[2017-10-02 09:45] gchaincl commented on #49
Closed by #50

[2017-10-02 09:45] #49 closed

[2017-10-02 11:08] srini156 opened #56 "Goreport badge to README.md"
Need to add goreport badge to README.md

[2017-10-02 11:08] srini156 commented on #56
@gchaincl - Please add `hacktoberfest` label and I intend to pick this task up.

[2017-10-02 11:27] gchaincl commented on #56
@srini156 I'd like to make #hacktoberfest added to improvements, I think update the README without useful information for the user is not the case, YDWT?

[2017-10-02 11:32] #56 closed

[2017-10-03 20:06] sponomarev commented on #54
Unfortunately, it seems like a limitation of gocui

[2017-10-04 14:46] gchaincl commented on #54
@sponomarev does termbox provides that?

[2017-10-04 15:16] sponomarev commented on #54
@gchaincl I don't think so. I guess it's a limitation of mouse handling in the terminal. I've checked the most popular terminal product with mouse support - midnight commander. It uses ncurses which is much more advanced than their competitors and even it doesn't support text selection with mouse.

I want to underline that it's just a guess. I'm not an expert in terminal questions.

[2017-10-04 15:21] gchaincl commented on #54
Thanks for investigate into it, I'll let this open until someone else confirms

[2017-10-07 19:00] gchaincl opened #58 "Create a logo"
I haven't been able to come up with a good logo.
I'd love to see some proposals, the most 👍 voted will be chosen!

[2017-10-07 19:03] harleo commented on #58
@gchaincl
I'll give it a try

[2017-10-07 19:08] gchaincl commented on #58
Great @harleo

[2017-10-07 19:10] nightrainlily commented on #58
@gchaincl any idea what you're looking for? just a text logo for httplab?

[2017-10-07 19:14] gchaincl commented on #58
@nightrainlily my approach would be text with some "representative typography", also, I wouldn't use a pet (like docker, or linux) but to be honest I don't have any strong opinion and every proposal will be kindly accepted

[2017-10-07 19:23] stevenanthonyrevo commented on #58
@gchaincl Are you still in need of help? I'd like to Join in as well.

[2017-10-07 19:25] gchaincl commented on #58
@stevenanthonyrevo yes sure, the idea is that people come up with logos, upload them into this issue, and then choose the most voted.

[2017-10-07 19:36] vkolova commented on #58
![httplab logo by vkolova](https://raw.githubusercontent.com/vkolova/httplab/58caefc183c5766474464e8d30a97cd4dd8b16a0/images/httplab_logo.png) Also featured in my PR.

[2017-10-07 19:44] gchaincl commented on #58
Great start!, I like it. Let's wait for others proposals!

[2017-10-07 19:53] harleo commented on #58
Threw something together.
I'll do a PR when my logo is chosen.

![httplab_artboard_mockup](https://user-images.githubusercontent.com/18539354/31311315-d9212754-aba9-11e7-8792-b3c53b525174.png)

[2017-10-07 19:54] gchaincl commented on #58
:+1:

[2017-10-07 20:24] stevenanthonyrevo commented on #58
Uploaded logo choices below will PR svg formats.
A.
![httplab-vector-01](https://user-images.githubusercontent.com/8505293/31311524-e3b99d28-ab7b-11e7-8cf3-f13b0b7d19a1.png)
B.
![httplab-vector-02](https://user-images.githubusercontent.com/8505293/31311525-e3cfe628-ab7b-11e7-82ad-7acd759fbdbe.png)
Happy hacking this Hacktoberfest!

[2017-10-07 20:28] gchaincl commented on #58
wow, looks very cool!

[2017-10-10 13:25] esimov commented on #58
@vkolova i like it. However i would decrease the font size, i would move the text to the icon baseline and would change the light blue into a more solid blue.

[2017-10-12 10:29] homuncculus commented on #35
I'll give it a try

[2017-10-12 10:41] gchaincl commented on #35
@homuncculus thanks for your interest in contributing, I think @planchao is already working on it.
I'm trying to avoid duplicated work.

[2017-10-12 10:44] gchaincl opened #63 "Display a proper error message when dimensions are invalid"
Currently, when resizing the terminal window where HTTPLab is running, you may get this:
[code]

when the size of the window is too small, a better error message should be displayed.

[2017-10-12 20:26] lgdroid commented on #63
Can I take this?

[2017-10-13 09:26] gchaincl commented on #63
@lgdroid sure!, I've also been  thinking that instead of closing httplab and printing a proper message, we could display the error message inside a httplab view, and redraw the other views when the term sizes are restored to something valid.
Does that make sense?

[2017-10-13 14:11] gchaincl opened #64 "Choose our logo"
In issue #58, we had some prototype logos, I've put together all are the options, so let's vote and I'll merge the winner.
___

*Option A*
![httplab-logo-a1](https://user-images.githubusercontent.com/1288313/31550130-9763dc7c-b030-11e7-9ba0-5342b2be976d.png)
___

*Option B*
![httplab-logo-b](https://user-images.githubusercontent.com/1288313/31549909-dce85c9c-b02f-11e7-821f-de5c7e6230ba.png)
___

*

[2017-10-13 14:11] gchaincl commented on #58
I've created a poll so you can vote on the logo: https://github.com/gchaincl/httplab/issues/64

[2017-10-14 12:41] lgdroid commented on #63
Yes, thanks. Would it be okay to do that as 2 changes?

1. Change the message
2. Enhance it

My reasoning is that I'm new to GitHub and I haven't got the hang of the workflow yet. Plus I've only just started with Go :-)

[2017-10-17 12:53] #42 closed

[2017-10-17 12:57] gchaincl opened #66 "Graceful shutdown"
Would be nice to enable graceful shutdown. Meaning that if there's an active connection at the moment the user sends a kill signal (Ctrl + C) HTTPLab will wait until all the connection has been closed.
Once signal has been sent, a message should be displayed with a message like: "HTTPLab is shutting down".

[2017-10-17 22:01] avdv commented on #54
Usually, you can select text in terminal apps like midnight Commander while holding the shift key. This works just fine for me with httplab too!

[2017-10-18 06:06] gchaincl commented on #54
Oh I didn't knew that. @dnguy078 are u still working on this? Otherwise I'll close it

[2017-10-18 11:15] maciekmm commented on #66
@gchaincl I can work on this. I have a question tho: if signal is resent in the 'waiting' state, shall we terminate httplab immediately?

[2017-10-18 11:20] gchaincl commented on #66
Yeah that would be perfect

On Oct 18, 2017 1:15 PM, "Maciej Mionskowski" <notifications@github.com>
wrote:

[2017-10-18 11:25] #64 closed

[2017-10-18 11:26] gchaincl commented on #58
Closed by #65

[2017-10-18 11:26] #58 closed

[2017-10-18 12:08] gchaincl commented on #23
@m1ome any progress on this?

[2017-10-18 16:00] gwerbin commented on #23
They're looking for some way (other than `httplab -version` to test that the installation went well.

[2017-10-18 16:11] gchaincl commented on #23
Isn't that enough?

On Oct 18, 2017 6:00 PM, "Gregory Werbin" <notifications@github.com> wrote:

[2017-10-19 08:22] gchaincl commented on #35
Closed by #62

[2017-10-19 08:22] #35 closed

[2017-10-19 19:18] gwerbin commented on #23
Evidently not, but if you can't find a better test that can be encoded in a Ruby script then your best bet is to make a case to the maintainer (the user "ilovezfs") that it's fine as-is. If not, I have an alternative tap (github.com/gwerbin/homebrew-tap) for software that I personally use, so I could host it there in the interim. Mind you, I'm not much of a FOSS maintainer myself so I can't guaran

[2017-10-23 09:06] gchaincl commented on #23
Thanks @gwerbin

[2017-10-23 09:31] gchaincl commented on #54
Looks like there's nothing we can do to fix it, so I'm closing this

[2017-10-23 09:31] #54 closed

[2017-10-23 09:36] #66 closed

[2017-10-23 10:21] maciekmm opened #72 "Customizable keybindings"
Having configurable key bindings would be a nice addition.
I can implement this to store custom key bindings in ~/.httplab, is this a good place for such change?

[2017-10-23 10:26] gchaincl commented on #72
Sure, give it a try!

[2017-10-23 10:39] maciekmm opened #73 "Source port number from config file"
Having webserver port sourced from config file (~/.httplab) could be a nice addition.

[2017-10-23 10:42] gchaincl commented on #73
We might end up splitting configuration and history into 2 different files like .httplab/{history,config}

[2017-10-29 09:26] gchaincl commented on #73
btw, @maciekmm  isn't `-port` enough?

[2017-10-29 09:37] gchaincl commented on #63
@lgdroid any progress on this?

[2017-11-03 17:43] gchaincl opened #76 "Create a generic install script"
Projects like [brew](https://brew.sh/) provides a handy way to install.
It would be great to have something similar that depending on your architecture, fetches the righ binary and copies it to some `$PATH`.

A simple bash script should be enough to start,

[2017-11-10 18:25] gchaincl commented on #63
ping @lgdroid

[2017-11-12 03:56] crazy4groovy opened #77 "Can't backspace values"
Windows 7

I can only insert values; I can't type over or delete.
Backspace brings up a keybinding menu.

[2017-11-14 16:08] lgdroid commented on #63
Sorry for the delay. No progress to report except that my Go book has arrived and I'll be working through it now.

[2017-11-16 09:41] gchaincl commented on #77
I'll try to find a windows box to reproduce the error, but I might take me a while

[2018-02-02 06:53] matrixik opened #78 "Snap package unavailable"
Looks like httplab disappeared from Snap https://snapcraft.io/search?q=httplab

It's possible to create new snaps automatically in CI
https://docs.snapcraft.io/build-snaps/ci-integration

[2018-02-02 07:17] gchaincl commented on #78
Thanks for reporting this.
@popey, could you take a look?

[2018-10-16 10:04] gchaincl commented on #77
Sorry, but I had no time to debug this on window, that's why it's labeled with `help-wanted`. Do you think you can help @Suleman-Elahi ?

[2019-09-09 17:45] mxdevmanuel opened #86 "Problems rendering on tmux"
There are some issues when using it inside tmux 2.9a, it renders incorrec
t characters and doesn't allow to use arrow keys, neither to use it at all actually, tried in different terminals:

- Termite
- rxvt-unicode
- xterm
- alacritty

using both zsh and bash and evertything works fine on it's own, but in tmux it presents this problem (screenshot in link)

I'm using archlinux and tmux 2.9a

tried

[2019-09-09 19:34] gchaincl commented on #86
Wow, that looks pretty ugly, I've experienced issues like this in tmux as well.
I've tried to fix it some time ago but I couldn't, sorry.
I'm thinking about rewriting the GUI with a different library but that would take some time, so, unfortunately, there's nothing I can do to help now :(
Thanks for reporting.

I'll keep this open so that we can keep track of it, as always, PRs are appreciated.

[2019-09-25 12:40] avdv commented on #77
same problem on linux.

Trying to change the status code. I am only able to enter an additional value, but not delete / erase something. Hitting backspace with a 4 digit number in the status box causes httplab to exit with `2019/09/25 14:39:31 Status should be between 100 and 599`

[2019-09-25 13:05] gchaincl commented on #77
looks like a known error on windows :(
Unfortunately, I don't have the time to setup a Windows machine to reproduce the bug.

[2019-09-25 15:28] avdv commented on #77
I am using Linux.

[2019-09-26 08:12] gchaincl commented on #77
that's interesting, could you give me more details, are u using tmux?which terminal
is your `$TERM` variable set?

[2019-09-26 08:58] avdv commented on #77
I am not using tmux.

Usually, I am using termite as my terminal, with `TERM` set to "termite".

I also tried xterm, where `TERM` is set to "xterm". Hitting <kbd>backspace</kbd> just displays the help dialog there. Also other key combinations do not work properly, ie. hitting <kbd>q</kbd> in the help dialog does not close the dialog in case it opened because of tapping <kbd>backspace</kbd>.

[2019-11-03 11:08] ilyakaznacheev commented on #63
Still relevant?

[2019-11-04 17:45] gchaincl commented on #63
@ilyakaznacheev it's not very common but the error is still not being handled

[2019-12-08 06:10] he852100 opened #87 "No information returned"
$uri="172.245.118.60"
$headers=@{
"content-length"= "215"
"cache-control"= "max-age=0"
"upgrade-insecure-requests"= "1"
"user-agent"= "Mozilla/5.0 (Linux; Android 9; LM-G710) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.132 Mobile Safari/537.36"
"sec-fetch-mode"= "navigate"
"sec-fetch-user"= "?1"
"content-type"= "application/x-www-form-urlencoded"
"dnt"= "1"
"accept"= "text/html,applica

[2019-12-09 16:54] gchaincl commented on #87
can you please elaborate on this?

[2020-09-25 11:45] d1y opened #88 "add homebrew"
tky

[2020-09-27 07:00] gchaincl commented on #88
whats tky?

[2020-10-07 14:15] #88 closed